<div class="card">
  <h2 class="maincolor2">Login</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <button class="btn btn-primary mainbackgroundcolor2 floatright" type="button">Send</button>
  </div>
  <div class="textwithlink">
    <p>If you do not have an account yet, please <a class="commonlink" routerLink="/signup">sign up</a></p>
  </div>

</div>
