.card2 {
  margin-left: 25%;
  margin-top: 25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.maincolor2 {
  color: #6346cb;
  /*font-weight: bold;*/
}

.mainbackgroundcolor2 {
  background-color: #7254dc;
}

.mainbackgroundcolor2:hover {
  background-color: #6346cb;
}

.floatright {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  width: 20%;
  outline: none;
  box-shadow: none;
}

.floatright:active {
  margin-top: 12px;
  margin-bottom: 8px;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.floatright:focus {
  border-color: transparent;
}

.textwithlink {
  display: flex;
}

.commonlink {
  color: #317ef1;
  cursor: pointer;
}

.card {

  margin-left: 30%;
  margin-top: 10%;
  width: 40%;

  background-color: rgb(255, 255, 255);
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  padding: 5px 25px;
  gap: 13px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card3 {
  color: #6346cb;
  margin-left: 30%;
  margin-top: 10%;
  width: 40%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
